
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Curso Udemy</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['calculadora']">Calculadora</a></li>
      <li routerLinkActive="active"><a [routerLink]="['tarefas']">Tarefas <span class="badge badge-light">{{this.totalTarefas}}</span></a></li>
      <li routerLinkActive="active"><a [routerLink]="['calendario']">Calendário</a></li>
      <li routerLinkActive="active"><a [routerLink]="['jogo-da-velha']">Jogo da Velha</a></li>
    </ul>
  </div>
</nav>
<div class="container">   
  <router-outlet></router-outlet>   
</div>