<table class="table">
    <thead>
        <tr>
            <th><h2 style="font-family: 'Press Start 2P', cursive;">Placar</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Usuário:</td>
            <td>{{this.jogoDaVelhaService.scoreUser}}</td>
        </tr>
        <tr>
            <td scope="row">Máquina:</td>
            <td>{{this.jogoDaVelhaService.scorePc}}</td>
        </tr>
        <tr>
            <td scope="row">Empate:</td>
            <td>{{this.jogoDaVelhaService.scoreEmpate}}</td>
        </tr>
    </tbody>
</table>
